form {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.question-submit-btn {
    background-color: slategray;
}
.add-question {
    margin-left: 50px;
    padding-bottom: 50px;
}
.add-q-btns {
    display: flex;
    margin-top: 10px;
}
