p {
    font-size: small;
}

.q-opts {
    display: flex;
}
.feed-div {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 100px;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 3px;
    align-items: center;
    position: relative;

}
.feed-div:hover {
    background-color: white;
}
.q-id {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
}
.q-box {
    padding-left: 25px;
}
.ans-q-btn {
    margin-left: 225px;
}

