p {
    font-size: small;
}

.q-opts {
    display: flex;
    margin: 20px;
}
.feed-div {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 100px;
    overflow: hidden;
    box-shadow: 0 0 20px;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 2px solid rgb(124, 154, 184);
    align-items: center;
    position: relative;
    backdrop-filter: blur(10px);

}
.feed-div:hover {
    background-color: white;
}
.q-id {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}
.q-id-name {
    font-size: x-small;
}
.q-box {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.ans-q-btn {
    margin-left: 225px;
}
.q-d {
    margin: 50px;
}
.questions {
    width: 70%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/266/241/original/cute-pink-and-light-blue-cat-kitten-cartoon-seamless-pattern-free-vector.jpg');
    /* background-color: rgb(124, 154, 184); */
    border: 2px solid rgb(124, 154, 184);
    border-radius: 15px;
    box-shadow: 0 0 20px;
    overflow-y: scroll;
}
#root{
    overflow-y: scroll;
}
