.login-labels {
    background-color: lightsteelblue;
}
.login-titles {
    padding: 20px;
}
.inputs-div {
    display: flex;
    width: 35vw;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: smaller;
}
.login-btn-div {
    display: flex;
    justify-content: center;
    width: 35vw;
}
.user-email-div {
    display: flex;
}
.password-div {
    display: flex;
}

.login-message > p{
    color: white;
    box-shadow: .2em .2em .4em .4em rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 1vw;
    padding: 1vw;
    width: 30vw;
}

.cancel-btn {
    margin-left: 20px;
}
/* .loginWrap{
    background-image: url('https://i.imgur.com/1AXr7fp.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
  } */
