#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/12/18/13/background-5035258_1280.jpg");
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 82vw;
  display: flex;
  justify-content: flex-end;
}
.nav-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: 500px;
  background-repeat: no-repeat;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.header-title > p {
  color: rgb(124, 154, 184);
  font-size: small;
}
.header-title > h1 {
  color: rgb(124, 154, 184);
}
/* .header-pic > img {
    width: 50%;
    margin: 50px;
    border: 2px solid rgb(124, 154, 184);
    border-radius: 5px;
    box-shadow: 0 0 20px black;
} */

.head-sec {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0 0.4em 0.4em rgba(0, 0, 0, 0.8);
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  width: 75vw;
}
.home-link-cont > p {
  font-weight: bold;
  color: white;
}
.home-link {
  display: flex;
  justify-content: flex-end;
  font-size: small;
  height: 30px;
  padding-right: 10px;
}
.signup-link {
  display: flex;
  height: 30px;
  padding-right: 10px;
}
.login-link {
  display: flex;
  height: 30px;
}
.navLinks {
  font-size: large;
  color: rgb(105, 105, 105);
  display: flex;
}

.prof-btn-div {
  display: flex;
  justify-content: flex-end;
}
h1,
p,
a {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
  font-family: cursive;
}
p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
  padding-bottom: 20px;
  color: rgb(105, 105, 105);
}
.search-icon {
  width: 25px;
}
.header-search-bar {
  display: flex;
  padding-left: 10px;
}

.links-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.links-right {
  display: flex;
  align-items: flex-end;
}
button {
  background-color: rgb(124, 154, 184);
  width: 50px;
  display: flex;
  justify-content: center;
  font-size: x-small;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  border: none;
}
button:hover {
  background-color: whitesmoke;
}
.ask-q-btn {
  margin-left: 20px;
}
.home-link-cont {
  display: flex;
}
.home-link-cont > p {
  margin-left: 10px;
}
.demo-btn {
  margin-left: 20px;
  width: 100px;
}
.add-q-btn {
  display: flex;
  justify-content: center;
  height: 25px;
}

.ask-a-q-btn {
  width: 150px;
}

.logged-in-opts {
  display: flex;
  justify-content: flex-end;
}
