
.user-info {
    color: rgb(61, 69, 78);
}
.prof-btn-div {
    z-index: 1;
    display: block;
    flex-direction: column;
    height: auto;
}
.profile-btn {
    margin-right: 10px;
}

.profile-dropdown {
    list-style-type: none;
    margin-top: 50px;
    /* padding-left: 0; */
    position: absolute;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    right: 80%;
    top: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
}
